.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-top: 1.25rem;
}

@media (min-width: 768px) {
  .wrapper {
    gap: 1.75rem;
    margin-top: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    gap: 2.5rem;
    margin-top: 1.875rem;
  }
}
