.succes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding-inline: 1rem;
}
img {
  width: 100%;
  max-width: 26.25rem;
  border-radius: 20px;
}
.text {
  color: var(--text-color);
  font-size: 31px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  text-align: center;
}

@media (min-width: 768px) {
  .succes {
    padding-inline: 0;
  }
}
